[Unit]
Description=Run HN Rerank Update every 2 hours

[Timer]
OnBootSec=15min
OnUnitActiveSec=2h
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
