[Unit]
Description=Run HN Rerank Update every 3 hours

[Timer]
OnBootSec=15min
OnUnitActiveSec=3h
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
